/* -----------------------------------------------------
  VARIABLES GLOBALES (colores y temas)
  ----------------------------------------------------- */
:root {
  --ferrari-red: #ff0000;
  --black: #000000;
  --white: #ffffff;
  --gold: #d4af37;
  --bg: #f5f6f7;
  --muted: #666;
}